<article class="article">
  <header class="title">
    <% if (!timeless && hidden) { %>
      <p>
        <strong>Note:</strong>
        This article is hidden and is only available to those with a link.
      </p>
    <% } %>

    <% if (!timeless && date) { %>
      <div class="date">
        <%= date %>
      </div>
    <% } %>
    <h1><%= title %></h1>

    <% if (tags.length) { %>
      <div>
        <span class="posted-in">Posted in: </span>
        <span>
          <% tags.forEach(function(tag, i) { %>
            <a href="/tags/<%= tag %>"><%= tag %></a><% if (i !== tags.length - 1) { %>, <% } %>
          <% }) %>
        </span>
      </div>
    <% } %>
  </header>

  <section class="content">
    <%- body %>
  </section>

  <footer class="more details">
    --
    <br><br>
    <a target="_blank" rel="noopener" href="<%= tweetUrl %>" class="tweet">tweet this</a>
    <a href="/">&laquo; back to home</a>
  </footer>
</article>
