<% if (typeof banner !== "undefined") { %>
    <div class="banner"><%= banner %></div>
<% } %>

<% articles.forEach(function (article) { %>
    <div class="article">
        <div class="title">
            <h1><a href="<%= article.route %>"><%= article.title %></a></h1>
        </div>

        <div class="content">
            <p class="listing">
                <%- (article.description || article.summary).replace(/<.?p>/g, "") %>
                <a href="<%= article.route %>">
                    <span aria-hidden="true">read on &raquo;</span>
                    <span class="sr-only">continue reading this article</span>
                </a>
            </p>
        </div>
    </div>
<% }) %>
